$red: #f00;
$orange: #ff8f61;
$yellow: #ff0;
$white: #fff;
$black: #000;

$default-delay: .5s;

@mixin box-glow($radius) {
    box-shadow: 0 0 ($radius / 2.5) $red, 0 0 $radius $yellow;
}
@mixin inner-glow($radius) {
    box-shadow: 0 0 ($radius / 2.5) $red inset, 0 0 $radius $yellow inset;
}
@mixin text-glow($radius) {
    text-shadow: 0 0 ($radius / 2.5) $red, 0 0 $radius $yellow;
}
%no-glow {
    box-shadow: none !important;
    text-shadow: none !important;
}

@mixin glow-transition($delay) {
	transition: color $delay, border $delay, text-shadow $delay, box-shadow $delay, background $delay;
	-webkit-transition: color $delay, border $delay, text-shadow $delay, box-shadow $delay, background $delay;
}

@mixin hover-text-glow($radius, $delay: $default-delay) {
	@include glow-transition($delay);
	&:hover {
		@include text-glow($radius);
	}
}
@mixin hover-box-glow($radius, $delay: $default-delay) {
	@include glow-transition($delay);
	&:hover {
		@include box-glow($radius);
	}
}
@mixin hover-inner-glow($radius, $delay: $default-delay) {
	@include glow-transition($delay);
	&:hover {
		@include inner-glow($radius);
	}
}

@mixin focus-box-glow($radius, $delay: $default-delay) {
	@include glow-transition($delay);
	&:focus {
		@include box-glow($radius);
	}
}

@mixin button($bg: $red, $hover-bg: $white, $active-bg: $orange) {
	@include hover-box-glow(1em);
	@extend %all-caps;
	background: $bg;
	border: none;
	border-bottom: .1em solid darken($bg, 20%);
	padding: .2em 1em;
	cursor: pointer;
	border-radius: 1em;
	&:hover {
		background: $hover-bg;
		border-bottom: .1em solid darken($hover-bg, 20%);
	}
	&:active {
		background: $active-bg;
		border-top: .1em solid $active-bg;
		border-bottom: 0 solid darken($active-bg, 20%);
	}
}