.compact ul.eo-event-meta {
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
	> li {
		display: inline;
		&::before {
			content: '/ ';
		}
	}
}

.event-meta-map,
.venue-map {
	@extend %full-width;
	height: 75vmin;
	.eo-venue-map, .eo-event-venue-map {
		height: 100% !important;
		z-index: 1;
	}
	time {
		@extend %fixed-width;
		position: absolute;
		z-index: 1000;
		background: white;
		box-shadow: 0 0.5em .5em black;
		top: .5em;
		padding: 1em;
	}
}

.event-feed-buttons {
	text-align: center;
	margin: .5em 0 1em 0;
}