.compact ul.eo-event-meta {
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
	> li {
		display: inline;
		&::before {
			content: '/ ';
		}
	}
}

.event-meta-map,
.venue-map {
	@extend %full-width;
	height: 75vmin;
	font-size: 1.5em;
	margin-top: 1em;
	.eo-venue-map, .eo-event-venue-map {
		height: 100% !important;
		z-index: 1;
	}
	.event-map-overlay {
		@extend %fixed-width;
		position: absolute;
		z-index: 1000;
		background: white;
		box-shadow: 0 0.15em 0.2em black;
		top: .5em;
		padding: 1em;
		p {
			margin: 0;
		}
	}
}

.event-feed-buttons {
	text-align: center;
	margin: .5em 0 1em 0;
}