.two-columns {
	display: block;
	width: 100%;
	margin: 0;
	> .column {
		display: block;
		width: calc(50% - .5em);
		vertical-align: top;
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right;
		}
		.listing-item, article {
			margin: 1em 0;
			@include hover-box-glow(1em);
			@include card;
			cursor: pointer;
			&:hover {
				background: $white;
			}
			&.ext, &.eo-event-cat-ext {
				font-size: .65em;
				.title, h1 {
					font-weight: lighter !important;
				}
			}
			.title, h1 {
				display: block;
				text-transform: uppercase;
				font-size: 1.5em;
				line-height: 1.2em;
				text-align: left;
				color: $red !important;
				@extend %no-glow;
				a, a:hover {
					color: $red !important;
					@extend %no-glow;
				}
			}
			.date {
				display: block;
				text-align: left;
				li {
					display: block;
					&:before {
						display: none;
					}
					a {
						color: $red;
						font-weight: lighter !important;
						&:hover {
							color: $black;
						}
					}
				}
			}
			.excerpt-dash {
				display: none;
			}
			.excerpt, p {
				display: block;
				margin: .5em 0 0 0;
				padding: 0;
				a {
					color: $red;
					font-weight: lighter !important;
					&:hover {
						color: $black;
					}
				}
			}
		}
	}
	&:after {
		clear: both;
		content: ' ';
		display: block;
	}
}