$red: #f00;
$orange: rgb(255, 158, 91);
$yellow: #ff0;
$white: #fff;
$black: #000;

$default-delay: .5s;

@mixin box-glow($radius) {
    box-shadow: 0 0 ($radius / 2.5) $red, 0 0 $radius $yellow;
}
@mixin inner-glow($radius) {
    box-shadow: 0 0 ($radius / 2.5) $red inset, 0 0 $radius $yellow inset;
}
@mixin text-glow($radius) {
    text-shadow: 0 0 ($radius / 2.5) $red, 0 0 $radius $yellow;
}

@mixin glow-transition($delay) {
	// Probably bad practice really, using 'all', but so far it's the best thing to do.
	transition: all $delay;
	-webkit-transition: all $delay;
}

@mixin hover-text-glow($radius, $delay: $default-delay) {
	@include glow-transition($delay);
	&:hover {
		@include text-glow($radius);
	}
}
@mixin hover-box-glow($radius, $delay: $default-delay) {
	@include glow-transition($delay);
	&:hover {
		@include box-glow($radius);
	}
}
@mixin hover-inner-glow($radius, $delay: $default-delay) {
	@include glow-transition($delay);
	&:hover {
		@include inner-glow($radius);
	}
}

@mixin focus-box-glow($radius, $delay: $default-delay) {
	@include glow-transition($delay);
	&:focus {
		@include box-glow($radius);
	}
}