%button-clearer {
	content: ' ';
	clear: both;
	display: block;
	height: 0;
}

.comments-area {
	@extend %fixed-width-background;
	background: $black;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.3333em;
	h1 {
		color: $white;
		font-size: 2em;
	}
	a:hover {
		// I don't care what anyone says, this is way more semantic than inserting spurious specificity:
		color: $white !important;
	}

	ol {
		list-style: none;
		padding: 0;
		li {
			.comment-meta {
				float: right;
			}
			.avatar {
				float: left;
				margin: 0 1em 1em 0;
				&.avatar-default {
					display: none;
				}
			}
			.reply {
				a.comment-reply-link {
					@include button();
					float: right;
					font-size: 1em;
					color: $black !important;
					text-shadow: none !important;
				}
				&::after {
					@extend %button-clearer;
				}
			}
		}
	}

	// Posting form
	.comment-reply-title {
		// This is the 'cancel reply' button.
		// TODO - make a more semantic DOM with PHP
		small {
			a {
				@include button();
				float: right;
				font-size: 1em;
				color: $black !important;
				text-shadow: none !important;
			}
			&::after {
				@extend %button-clearer;
			}
		}
	}
	p.form-allowed-tags {
		// TODO: Remove from DOM with PHP.
		display: none;
	}
	form {
		.comment-form-author,
		.comment-form-email,
		.comment-form-url,
		.comment-form-comment {
			label {
				display: inline-block;
				padding: .5em 0;
				font-size: 1em;
			}
			input, textarea {
				font-size: 1em;
				background: $white;
				border-radius: 1em;
				border: none;
				border-top: .2em solid darken($white, 20%);
				padding: .3em 1em .5em 1em;
				@include focus-box-glow(1em);
				float: right;
				width: 70%;
				resize: none;
				&:focus {
					// Focus is indicated by glow.
					outline: none;
				}
			}
			&::after {
				@extend %button-clearer;
			}
		}
		.form-submit {
			#submit {
				@include button();
				float: right;
				font-size: 2em;
				color: $black;
			}
			&::after {
				@extend %button-clearer;
			}
		}
	}
}