$header-split: 0.76;

@mixin logo($width) {
	width: $width;
	min-height: $width * 252 / 630;
	left: -0.00632 * $width;
	span {
		&.greater {
			left: 0.00316 * $width;
			top: 0.00777 * $width;
			font-size: 0.05789 * $width;
		}
		&.manchester {
			top: 0.03795 * $width;
			font-size: 0.11403 * $width;
		}
		&.skeptics {
			top: 0.10126 * $width;
			font-size: 0.17543 * $width;
		}
		&.society {
			top: 0.27900 * $width;
			font-size: 0.05789 * $width;
			right: 0.33684 * $width;
		}
	}
}

header.site {
	@extend %fixed-width;
	position: relative;
	top: .5em;
	padding: 0;
	> * {
		margin: 0;
		display: inline-block;
		vertical-align: top;
	}
	.logo {
		text-decoration: none;
		background: url('img/logo.png') no-repeat 100% 50%;
		background-size: contain;
		overflow: hidden;
		position: relative;
		span {
			@extend %all-caps;
			line-height: 1.5em;
			position: absolute;
			&.greater {
				color: $red;
			}
			&.manchester {
				color: $orange;
			}
			&.skeptics {
				color: $white;
			}
			&.society {
				color: $red;
			}
		}
		/*@include hover-text-glow(0.05 * $width);
		&:hover span {
			color: $white !important;
		}*/
	}
	nav {
		width: (1 - $header-split) * 100%;
		font-size: 1.4em;
		ul {
			@extend %all-caps;
			padding: 0;
		}
		li {
			&.long {
				font-size: .67em;
			}
			&.google-plus {
				// We don't care about this one at the moment
				// but the DOM is useful for metadata, so just hide it.
				display: none;
			}
			list-style: none;
			text-align: right;
			margin: .5em 0;
			color: $red;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			text-decoration: none;
			font-weight: bold;
			color: $orange;
			@include hover-text-glow(.6rem);
			&:hover {
				color: $white;
			}
		}
	}
}

// The 'fluid' page
@media (max-width: $max-screen-width) and (max-width: $max-screen-width) {
	header.site {
		.logo {
			@include logo($header-split * $fluid-page-width);
		}
	}
}

// The 'too-narrow-for-fluid' page
@media (max-width: $min-screen-width) {
	header.site {
		.logo {
			@include logo(87vw);
		}
		nav {
			width: 100%;
			display: block;
			text-align: right;
			ul {
				padding: 0;
				margin: 0 0 1em 0;
				li, li.long {
					display: inline-block;
					padding: 0 0 0 1em;
					font-size: 0.8em;
					br {
						display: none;
					}
					&:first-child {
						padding: 0;
					}
				}
			}
		}
	}
}

// The 'too wide for fluid' page
@media (min-width: $max-screen-width) {
	header.site {
		.logo {
			@include logo($header-split * $max-page-width);
		}
	}
}