$header-split: 0.6;

@mixin logo($width) {
	width: $width;
	min-height: $width * 252 / 630;
	left: -0.00600 * $width;
	span {
		&.greater {
			left: 0.00300 * $width;
			top: 0.00833 * $width;
			font-size: 0.05500 * $width;
		}
		&.manchester {
			top: 0.03700 * $width;
			font-size: 0.10833 * $width;
		}
		&.skeptics {
			top: 0.10000 * $width;
			font-size: 0.16666 * $width;
		}
		&.society {
			top: 0.27000 * $width;
			font-size: 0.05500 * $width;
			right: 0.37000 * $width;
		}
	}
}

@media (max-width: $max-screen-width) {
	header.site {
		.logo {
		@include logo($header-split * $fluid-page-width);
		}
	}
}

@media (min-width: $max-screen-width) {
	header.site {
		.logo {
		@include logo($header-split * $max-page-width);
		}
	}
}

header.site {
	@extend %fixed-width;
	position: relative;
	top: .5em;
	padding: 0;
	> * {
		margin: 0;
		display: inline-block;
		vertical-align: top;
	}
	.logo {
		text-decoration: none;
		background: url('img/logo.jpg') no-repeat 95% 50%;
		background-size: contain;
		overflow: hidden;
		position: relative;
		span {
			@extend %all-caps;
			line-height: 1.5em;
			position: absolute;
			&.greater {
				color: $red;
			}
			&.manchester {
				color: $orange;
			}
			&.skeptics {
				color: $white;
			}
			&.society {
				color: $red;
			}
		}
		/*@include hover-text-glow(0.05 * $width);
		&:hover span {
			color: $white !important;
		}*/
	}
	nav {
		width: (1 - $header-split) * 100%;
		font-size: 1.2em;
		ul {
			@extend %all-caps;
			padding: .7em 0 1em 0;
		}
		li {
			list-style: none;
			text-align: right;
			margin: 0;
		}
		a {
			text-decoration: none;
			font-weight: bold;
			color: $orange;
			transition: all .5s;
			-webkit-transition: all .5s;
			&:hover {
				color: $white;
				@include text-glow(.3em);
			}
		}
	}
}