/*
	This file decides the page width and applies margins. It should handle 90% of the responsivity. Other files should use ems wherever possible to best respond to changes here.
*/

$font-size: 2.5vw;
$line-length: 35;
$page-width: $line-length * $font-size;

%fixed-width {
	position: relative;
	left: calc(50% - #{$page-width / 2});
	display: block;
	width: $page-width;
	box-sizing: border-box;
}

body {
    font-size: $font-size;
    padding: 1em 0 5em 0;
    margin: 0;
}