/*
	This file decides the page width and applies margins. It should handle 90% of the responsivity. Other files should use ems wherever possible to best respond to changes here.
*/

$margin: .1;
$fluid-page-width: 100vw * (1 - 2 * $margin);
$margin-width: 100vw * $margin;
$max-page-width: 20cm;
$line-length: 35;
$max-screen-width: $max-page-width / (1 - 2 * $margin);

%fixed-width {
	position: relative;
	display: block;
	box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

@media (max-width: $max-screen-width) {
	%fixed-width {
		left: $margin-width;
		width: $fluid-page-width;
	}
	%fixed-width-background {
		padding-left: $margin-width;
		padding-right: $margin-width;
		width: $fluid-page-width;
	}
	body {
	    font-size: $fluid-page-width / $line-length;
	}
}

@media (min-width: $max-screen-width) {
	%fixed-width {
		left: calc(50% - #{$max-page-width / 2});
		width: $max-page-width;
	}
	%fixed-width-background {
		padding-left: calc(50% - #{$max-page-width / 2});
		padding-right: calc(50% - #{$max-page-width / 2});
		width: $max-page-width;
	}
	body {
	    font-size: $max-page-width / $line-length;
	}
}