.tabs {
	@extend %all-caps;
	font-size: 1.5em;
	background: $orange;
	position: relative;
	ul {
		@extend %fixed-width;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			padding: 0;
			margin: 0;
			border-right: 1px solid $black;
			&:first-child {
				border-left: 1px solid $black;
			}
			a {
				text-decoration: none;
				display: inline-block;
				padding: .25em 1em;
				margin: 0;
				color: $black;
				@include hover-text-glow(.3em);
				//@include hover-inner-glow(.3em);
				&.active {
					background: $white;
					color: $black;
				}
				&:hover {
					background: $black;
					color: $white;
				}
			}
		}
	}
}