.tabs,
header.page > nav.subtabs {
	@extend %all-caps;
	position: relative;
	line-height: 1;
	ul {
		@extend %fixed-width;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			padding: 0;
			margin: 0 0 0 -1px;
			border-right: 1px solid $black;
			border-left: 1px solid $black;
			a {
				text-decoration: none;
				display: inline-block;
				padding: .25em 1em;
				margin: 0;
				color: $black;
				@include hover-text-glow(.3em);
				//@include hover-inner-glow(.3em);
				&.active {
					background: $white;
					color: $black;
				}
				&:hover {
					background: $black;
					color: $white;
				}
			}
			&.non-tab {
				float: right;
				border: none;
				a {
					padding-right: 0;
					background: none !important;
					transition: none;
					-webkit-transition: none;
					&:hover {
						@extend %no-glow;
					}
				}
			}
		}
	}
}

.tabs {
	font-size: 1.5em;
	background: $red;
}

$subtab-font-size: 1.5rem;
.subtabs {
	@extend %full-width;
	ul {
		font-size: 0;
		li {
			font-size: $subtab-font-size;
		}
	}
	background: $orange;
	top: -1em;
}

.search-box input {
	border-radius: .5em;
	font-size: .7em;
	padding: .4em .25em .1em .25em;
	margin-top: .15em;
	width: 2em;
	border: none;
	background: url('img/search.svg') 100% 50% no-repeat;
	background-size: contain;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	color: transparent;
	cursor: pointer;
	&:focus {
		background: white;
		width: 10em;
		color: $black;
		outline: none;
		@include box-glow(.3em);
		cursor: text;
	}
}