/*
	This file decides the page width and applies margins. It should handle 90% of the responsivity. Other files should use ems wherever possible to best respond to changes here.
*/
header.site, .tabs ul,
header.page > nav.subtabs ul {
  position: relative;
  display: block;
  box-sizing: border-box; }

.subtabs, .venue-map,
.eo-event-venue-map {
  position: relative;
  width: 100vw; }

body {
  padding: 0;
  margin: 0; }

@media (max-width: 25cm) {
  header.site, .tabs ul,
  header.page > nav.subtabs ul {
    left: 10vw;
    width: 80vw; }

  .comments-area, body > div.body {
    padding-left: 10vw;
    padding-right: 10vw;
    width: 80vw; }
    .comments-area .comments-area, body > div.body .comments-area, .comments-area body > div.body, body > div.body body > div.body {
      position: relative;
      left: -10vw; }

  .subtabs, .venue-map,
  .eo-event-venue-map {
    left: -10vw; }

  body {
    font-size: 2.28571vw; } }
@media (max-width: 13.125cm) {
  body {
    font-size: 0.3cm; } }
@media (min-width: 25cm) {
  header.site, .tabs ul,
  header.page > nav.subtabs ul {
    left: calc(50% - 10cm);
    width: 20cm; }

  .comments-area, body > div.body {
    padding-left: calc(50vw - 10cm);
    padding-right: calc(50vw - 10cm);
    width: 20cm; }
    .comments-area .comments-area, body > div.body .comments-area, .comments-area body > div.body, body > div.body body > div.body {
      position: relative;
      left: calc(10cm - 50vw); }

  .subtabs, .venue-map,
  .eo-event-venue-map {
    left: calc(10cm - 50vw); }

  body {
    font-size: 0.57143cm; } }
.tabs ul li.non-tab a:hover,
header.page > nav.subtabs ul li.non-tab a:hover {
  box-shadow: none;
  text-shadow: none; }

header.site {
  position: relative;
  top: .5em;
  padding: 0; }
  header.site > * {
    margin: 0;
    display: inline-block;
    vertical-align: top; }
  header.site .logo {
    text-decoration: none;
    background: url("img/logo.png") no-repeat 100% 50%;
    background-size: contain;
    overflow: hidden;
    position: relative;
    /*@include hover-text-glow(0.05 * $width);
    &:hover span {
    	color: $white !important;
    }*/ }
    header.site .logo span {
      line-height: 1.5em;
      position: absolute; }
      header.site .logo span.greater {
        color: #f00; }
      header.site .logo span.manchester {
        color: #ff8f61; }
      header.site .logo span.skeptics {
        color: #fff; }
      header.site .logo span.society {
        color: #f00; }
  header.site nav {
    width: 24%;
    font-size: 1.4em; }
    header.site nav ul {
      padding: 0; }
    header.site nav li {
      list-style: none;
      text-align: right;
      margin: .5em 0;
      color: #f00; }
      header.site nav li.long {
        font-size: .67em; }
      header.site nav li.google-plus {
        display: none; }
      header.site nav li:first-child {
        margin-top: 0; }
      header.site nav li:last-child {
        margin-bottom: 0; }
    header.site nav a {
      text-decoration: none;
      font-weight: bold;
      color: #ff8f61;
      transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
      -webkit-transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s; }
      header.site nav a:hover {
        text-shadow: 0 0 0.24rem #f00, 0 0 0.6rem #ff0; }
      header.site nav a:hover {
        color: #fff; }

@media (max-width: 25cm) and (max-width: 25cm) {
  header.site .logo {
    width: 60.8vw;
    min-height: 24.32vw;
    left: -0.38426vw;
    /*&:hover {
    	background: url('img/icon.png') no-repeat 42.1344vw 4.4992vw / 14.48864vw,
    				radial-gradient(
    					0.18 * $width at 0.81 * $width 0.20 * $width,
    					#ff5030 20%,
    					#ee6030 35%,
    					#885020 50%,
    					#705520 65%,
    					#20130c 80%,
    					#000000 100%);
    	background: url('img/icon.png') no-repeat 42.1344vw 4.4992vw / 14.48864vw,
    				-webkit-gradient(radial,
    					50 50,
    					0,
    					50 50,
    					100,
    					from($red),
    					to(1, rgba($orange, 0)),
    					color-stop(0.5, rgba($orange, 0.75)))
    					49.856vw 7.904vw / 15.2vw;
    }*/ }
    header.site .logo span.greater {
      left: 0.19213vw;
      top: 0.47242vw;
      font-size: 3.51971vw; }
    header.site .logo span.manchester {
      top: 2.28vw;
      font-size: 6.93302vw; }
    header.site .logo span.skeptics {
      top: 6.15661vw;
      font-size: 10.66614vw; }
    header.site .logo span.society {
      top: 16.9632vw;
      font-size: 3.51971vw;
      right: 20.47987vw; } }
@media (max-width: 13.125cm) {
  header.site .logo {
    width: 87vw;
    min-height: 34.8vw;
    left: -0.54984vw;
    /*&:hover {
    	background: url('img/icon.png') no-repeat 60.291vw 6.438vw / 20.7321vw,
    				radial-gradient(
    					0.18 * $width at 0.81 * $width 0.20 * $width,
    					#ff5030 20%,
    					#ee6030 35%,
    					#885020 50%,
    					#705520 65%,
    					#20130c 80%,
    					#000000 100%);
    	background: url('img/icon.png') no-repeat 60.291vw 6.438vw / 20.7321vw,
    				-webkit-gradient(radial,
    					50 50,
    					0,
    					50 50,
    					100,
    					from($red),
    					to(1, rgba($orange, 0)),
    					color-stop(0.5, rgba($orange, 0.75)))
    					71.34vw 11.31vw / 21.75vw;
    }*/ }
    header.site .logo span.greater {
      left: 0.27492vw;
      top: 0.67599vw;
      font-size: 5.03643vw; }
    header.site .logo span.manchester {
      top: 3.2625vw;
      font-size: 9.92061vw; }
    header.site .logo span.skeptics {
      top: 8.80962vw;
      font-size: 15.26241vw; }
    header.site .logo span.society {
      top: 24.273vw;
      font-size: 5.03643vw;
      right: 29.30508vw; }
  header.site nav {
    width: 100%;
    display: block;
    text-align: right; }
    header.site nav ul {
      padding: 0;
      margin: 0 0 1em 0; }
      header.site nav ul li, header.site nav ul li.long {
        display: inline-block;
        padding: 0 0 0 1em;
        font-size: 0.8em; }
        header.site nav ul li br, header.site nav ul li.long br {
          display: none; }
        header.site nav ul li:first-child, header.site nav ul li.long:first-child {
          padding: 0; } }
@media (min-width: 25cm) {
  header.site .logo {
    width: 15.2cm;
    min-height: 6.08cm;
    left: -0.09606cm;
    /*&:hover {
    	background: url('img/icon.png') no-repeat 10.5336cm 1.1248cm / 3.62216cm,
    				radial-gradient(
    					0.18 * $width at 0.81 * $width 0.20 * $width,
    					#ff5030 20%,
    					#ee6030 35%,
    					#885020 50%,
    					#705520 65%,
    					#20130c 80%,
    					#000000 100%);
    	background: url('img/icon.png') no-repeat 10.5336cm 1.1248cm / 3.62216cm,
    				-webkit-gradient(radial,
    					50 50,
    					0,
    					50 50,
    					100,
    					from($red),
    					to(1, rgba($orange, 0)),
    					color-stop(0.5, rgba($orange, 0.75)))
    					12.464cm 1.976cm / 3.8cm;
    }*/ }
    header.site .logo span.greater {
      left: 0.04803cm;
      top: 0.1181cm;
      font-size: 0.87993cm; }
    header.site .logo span.manchester {
      top: 0.57cm;
      font-size: 1.73326cm; }
    header.site .logo span.skeptics {
      top: 1.53915cm;
      font-size: 2.66654cm; }
    header.site .logo span.society {
      top: 4.2408cm;
      font-size: 0.87993cm;
      right: 5.11997cm; } }
@font-face {
  font-family: "Calibri Web";
  src: url("fonts/calibri-bold.woff") format("woff");
  font-weight: bold; }
/* Not currently used:
@font-face {
    font-family: "Calibri Web";
    src: url("fonts/calibri.woff") format('woff');
}
@font-face {
    font-family: "Calibri Italic";
    src: url("fonts/calibri-italic.woff") format('woff');
    font-weight: italic;
}*/
header.site .logo span, header.site nav ul, h1, .tabs,
header.page > nav.subtabs, .comments-area ol li .reply a.comment-reply-link, .comments-area .comment-reply-title small a, .comments-area form .form-submit #submit, a.button {
  text-transform: uppercase;
  font-family: 'Calibri Web', 'Calibri', sans-serif;
  font-weight: bold; }

body, input, textarea {
  font-family: 'Calibri', sans-serif; }

h1 {
  line-height: 1.5em; }

.tabs,
header.page > nav.subtabs {
  position: relative; }
  .tabs ul,
  header.page > nav.subtabs ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .tabs ul li,
    header.page > nav.subtabs ul li {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 -1px;
      border-right: 1px solid #000;
      border-left: 1px solid #000; }
      .tabs ul li a,
      header.page > nav.subtabs ul li a {
        text-decoration: none;
        display: inline-block;
        padding: .25em 1em;
        margin: 0;
        color: #000;
        transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
        -webkit-transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s; }
        .tabs ul li a:hover,
        header.page > nav.subtabs ul li a:hover {
          text-shadow: 0 0 0.12em #f00, 0 0 0.3em #ff0; }
        .tabs ul li a.active,
        header.page > nav.subtabs ul li a.active {
          background: #fff;
          color: #000; }
        .tabs ul li a:hover,
        header.page > nav.subtabs ul li a:hover {
          background: #000;
          color: #fff; }
      .tabs ul li.non-tab,
      header.page > nav.subtabs ul li.non-tab {
        float: right;
        border: none; }
        .tabs ul li.non-tab a,
        header.page > nav.subtabs ul li.non-tab a {
          padding-right: 0;
          background: none !important;
          transition: none;
          -webkit-transition: none; }

.tabs {
  font-size: 1.5em;
  background: #f00; }

.subtabs {
  background: #ff8f61;
  top: -1em; }
  .subtabs ul {
    font-size: 0; }
    .subtabs ul li {
      font-size: 1.5rem; }

.compact ul.eo-event-meta {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0; }
  .compact ul.eo-event-meta > li {
    display: inline; }
    .compact ul.eo-event-meta > li::before {
      content: '/ '; }

.venue-map,
.eo-event-venue-map {
  height: 75vh; }
  .venue-map .eo-venue-map,
  .eo-event-venue-map .eo-venue-map {
    height: 100% !important; }

.event-feed-buttons {
  text-align: center;
  margin: .5em 0 1em 0; }

.comments-area ol li .reply::after, .comments-area .comment-reply-title small::after, .comments-area form .comment-form-author::after,
.comments-area form .comment-form-email::after,
.comments-area form .comment-form-url::after,
.comments-area form .comment-form-comment::after, .comments-area form .form-submit::after {
  content: ' ';
  clear: both;
  display: block;
  height: 0; }

.comments-area {
  background: #000;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.3333em; }
  .comments-area h1 {
    color: #fff;
    font-size: 2em; }
  .comments-area a:hover {
    color: #fff !important; }
  .comments-area ol {
    list-style: none;
    padding: 0; }
    .comments-area ol li .comment-meta {
      float: right; }
    .comments-area ol li .avatar {
      float: left;
      margin: 0 1em 1em 0; }
      .comments-area ol li .avatar.avatar-default {
        display: none; }
    .comments-area ol li .reply a.comment-reply-link {
      transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
      -webkit-transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
      background: #f00;
      border: none;
      border-bottom: 0.1em solid #990000;
      padding: .2em 1em;
      cursor: pointer;
      border-radius: 1em;
      float: right;
      font-size: 1em;
      color: #000 !important;
      text-shadow: none !important; }
      .comments-area ol li .reply a.comment-reply-link:hover {
        box-shadow: 0 0 0.4em #f00, 0 0 1em #ff0; }
      .comments-area ol li .reply a.comment-reply-link:hover {
        background: #fff;
        border-bottom: 0.1em solid #cccccc; }
      .comments-area ol li .reply a.comment-reply-link:active {
        background: #ff8f61;
        border-top: 0.1em solid #ff8f61;
        border-bottom: 0 solid #fa4900; }
  .comments-area .comment-reply-title small a {
    transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
    -webkit-transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
    background: #f00;
    border: none;
    border-bottom: 0.1em solid #990000;
    padding: .2em 1em;
    cursor: pointer;
    border-radius: 1em;
    float: right;
    font-size: 1em;
    color: #000 !important;
    text-shadow: none !important; }
    .comments-area .comment-reply-title small a:hover {
      box-shadow: 0 0 0.4em #f00, 0 0 1em #ff0; }
    .comments-area .comment-reply-title small a:hover {
      background: #fff;
      border-bottom: 0.1em solid #cccccc; }
    .comments-area .comment-reply-title small a:active {
      background: #ff8f61;
      border-top: 0.1em solid #ff8f61;
      border-bottom: 0 solid #fa4900; }
  .comments-area p.form-allowed-tags {
    display: none; }
  .comments-area form .comment-form-author label,
  .comments-area form .comment-form-email label,
  .comments-area form .comment-form-url label,
  .comments-area form .comment-form-comment label {
    display: inline-block;
    padding: .5em 0;
    font-size: 1em; }
  .comments-area form .comment-form-author input, .comments-area form .comment-form-author textarea,
  .comments-area form .comment-form-email input,
  .comments-area form .comment-form-email textarea,
  .comments-area form .comment-form-url input,
  .comments-area form .comment-form-url textarea,
  .comments-area form .comment-form-comment input,
  .comments-area form .comment-form-comment textarea {
    font-size: 1em;
    background: #fff;
    border-radius: 1em;
    border: none;
    border-top: 0.2em solid #cccccc;
    padding: .3em 1em .5em 1em;
    transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
    -webkit-transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
    float: right;
    width: 70%;
    resize: none; }
    .comments-area form .comment-form-author input:focus, .comments-area form .comment-form-author textarea:focus,
    .comments-area form .comment-form-email input:focus,
    .comments-area form .comment-form-email textarea:focus,
    .comments-area form .comment-form-url input:focus,
    .comments-area form .comment-form-url textarea:focus,
    .comments-area form .comment-form-comment input:focus,
    .comments-area form .comment-form-comment textarea:focus {
      box-shadow: 0 0 0.4em #f00, 0 0 1em #ff0; }
    .comments-area form .comment-form-author input:focus, .comments-area form .comment-form-author textarea:focus,
    .comments-area form .comment-form-email input:focus,
    .comments-area form .comment-form-email textarea:focus,
    .comments-area form .comment-form-url input:focus,
    .comments-area form .comment-form-url textarea:focus,
    .comments-area form .comment-form-comment input:focus,
    .comments-area form .comment-form-comment textarea:focus {
      outline: none; }
  .comments-area form .form-submit #submit {
    transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
    -webkit-transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
    background: #f00;
    border: none;
    border-bottom: 0.1em solid #990000;
    padding: .2em 1em;
    cursor: pointer;
    border-radius: 1em;
    float: right;
    font-size: 2em;
    color: #000; }
    .comments-area form .form-submit #submit:hover {
      box-shadow: 0 0 0.4em #f00, 0 0 1em #ff0; }
    .comments-area form .form-submit #submit:hover {
      background: #fff;
      border-bottom: 0.1em solid #cccccc; }
    .comments-area form .form-submit #submit:active {
      background: #ff8f61;
      border-top: 0.1em solid #ff8f61;
      border-bottom: 0 solid #fa4900; }

body {
  background: #000;
  overflow-x: hidden; }
  body > div.body {
    background: #fff;
    color: #000;
    min-height: 100vh;
    padding-top: 1em;
    padding-bottom: 1em; }
    body > div.body a:not(.button) {
      text-decoration: none;
      font-weight: bold;
      color: #f00;
      transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
      -webkit-transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s; }
      body > div.body a:not(.button):hover {
        text-shadow: 0 0 0.2em #f00, 0 0 0.5em #ff0; }
      body > div.body a:not(.button):hover {
        color: #000; }

article {
  line-height: 1.5;
  text-align: justify;
  font-weight: lighter; }
  article h1 {
    font-size: 1.5em;
    line-height: 1.1em;
    color: #000;
    margin: 0; }
  article .meta, article footer {
    font-size: .75em;
    color: #ff8f61; }
  article .legalese {
    margin-top: 1em;
    line-height: 1.2rem;
    font-family: serif;
    font-size: 1rem;
    counter-reset: section; }
    article .legalese > section {
      padding-left: 1.5rem; }
    article .legalese div {
      counter-reset: section;
      padding-left: 1.5rem; }
    article .legalese p, article .legalese section {
      counter-increment: section; }
    article .legalese p::before {
      content: counters(section,"."); }
    article .legalese h1 {
      text-transform: none;
      font-family: serif;
      font-size: 1em; }
      article .legalese h1::before {
        content: counters(section,".") "."; }
    article .legalese h1, article .legalese p {
      text-indent: -1.5rem;
      margin: .5rem 0;
      clear: left; }
      article .legalese h1::before, article .legalese p::before {
        margin-right: .5rem; }
    article .legalese footer {
      font-size: 1rem;
      color: black; }
  article .wp-caption.alignleft {
    text-align: left;
    float: left; }
  article .wp-caption.alignright {
    text-align: right;
    float: right; }
  article .wp-caption.aligncenter {
    text-align: center;
    display: block;
    width: 100% !important; }
  article .wp-caption > a {
    font-size: 0; }
    article .wp-caption > a > img {
      max-width: 100%; }
  article .wp-caption > p {
    color: #ff8f61;
    font-style: italic;
    text-align: center; }

a.button {
  transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
  -webkit-transition: color 0.5s, border 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
  background: #f00;
  border: none;
  border-bottom: 0.1em solid #990000;
  padding: .2em 1em;
  cursor: pointer;
  border-radius: 1em;
  color: #000;
  text-decoration: none;
  padding: .3em 1em .2em 1em;
  margin: .5em; }
  a.button:hover {
    box-shadow: 0 0 0.4em #f00, 0 0 1em #ff0; }
  a.button:hover {
    background: #fff;
    border-bottom: 0.1em solid #cccccc; }
  a.button:active {
    background: #ff8f61;
    border-top: 0.1em solid #ff8f61;
    border-bottom: 0 solid #fa4900; }

#nav-below, #nav-above {
  padding: 1em 0; }
  #nav-below .nav-next, #nav-above .nav-next {
    display: inline;
    float: right; }
  #nav-below .nav-previous, #nav-above .nav-previous {
    display: inline;
    float: left; }
  #nav-below:after, #nav-above:after {
    content: ' ';
    clear: both; }

/*# sourceMappingURL=gmss.css.map */
