@import 'sass/sizing';
@import 'sass/colours';
@import 'sass/header';
@import 'sass/fonts';
@import 'sass/tabs';

$body-margin: 2em;

body {
	background: $black;
	> div.body {
		@include box-glow(1.2em);
		@extend %fixed-width;
		background: $white;
		color: $black;
		padding: 1em $body-margin;
		border-radius: 1em;
		a {
			text-decoration: none;
			font-weight: bold;
			color: $red;
			@include hover-text-glow(.5em);
			&:hover {
				color: $black;
			}
		}
	}
}

%full-width {
	position: relative;
	width: calc(100% + #{$body-margin * 2});
}
%full-width-background {
	@extend %full-width;
	padding-left: $body-margin;
	padding-right: $body-margin;
}

article {
	h1 {
		font-size: 1.5em;
		color: $black;
		margin: 0;
	}
	.date, footer {
		font-size: .75em;
		color: $orange;
	}
	line-height: 1.5;
	text-align: justify;
	font-weight: lighter;
}