@import 'sass/sizing';
@import 'sass/colours';
@import 'sass/header';
@import 'sass/fonts';
@import 'sass/tabs';
@import 'sass/events';

$body-margin: 2rem;

body {
	background: $black;
	> div.body {
		@extend %fixed-width-background;
		background: $white;
		color: $black;
		min-height: 100vh;
		padding-top: 1em;
		padding-bottom: 1em;
		a {
			text-decoration: none;
			font-weight: bold;
			color: $red;
			@include hover-text-glow(.5em);
			&:hover {
				color: $black;
			}
		}
	}
}

article {
	h1 {
		font-size: 1.5em;
		line-height: 1.1em;
		color: $black;
		margin: 0;
	}
	.meta, footer {
		font-size: .75em;
		color: $orange;
	}
	line-height: 1.5;
	text-align: justify;
	font-weight: lighter;
}